<script src="jscolor/jscolor.js">
</script>
<div id="roomview" width="300px" height="500px"></div>
<canvas id="draw_doodle" width="256" height="256"></canvas>
<input class="color" id="colorpicker" value="FFFFFF"></input>
<input id="size_input" value="3"></input>
<input type="submit" id="doodle_submit"></input>
<script type="text/javascript"> <!-- Is not Executing --//>
	window.requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;

	var c = document.getElementById("draw_doodle");
	var canvas = c.getContext("2d");
	var w = c.width;
	var h = c.height;
	var m = document.getElementById("colorpicker")
	var s = document.getElementById("size_input")
	var isMouseDown = false; 
	var submitb = document.getElementById(doodle_submit);
	function updateCanvasColor() {
		var val = "#"+m.value;
		canvas.fillStyle = val;
		canvas.strokeStyle = val;
		requestAnimationFrame(updateCanvasColor);
	}

	c.addEventListener("mousedown", function (e) {
		isMouseDown = true;
		var x = e.pageX - c.offsetLeft;
		var y = e.pageY - c.offsetTop;
		var sqsz = parseInt(s.value);
		var drawMode = true;
		
		canvas.fillRect(x-sqsz/2.0, y-sqsz/2.0, sqsz,sqsz);
		//requestAnimationFrame(draw);
		
		c.addEventListener("mouseup", function(e) {
			if (isMouseDown) {
			   isMouseDown = false;
			}
			drawMode = false;
			//canvas.save();
			//canvas.globalCompositeOperation="destination-out";
			//canvas.restore();
			
			c.removeEventListener("mouseup");
		});
		
		c.addEventListener("mousemove", function(e) {
			if (!isMouseDown) return;
			if (e.pageX > c.offsetLeft + w || e.pageY > c.offsetTop + h) {
				isMouseDown = false;
				drawMode = false;
			}
			if (drawMode) {
				var xn = e.pageX - c.offsetLeft;
				var yn = e.pageY - c.offsetTop;
			
				canvas.beginPath();
				canvas.moveTo(x,y);
				canvas.lineTo(xn,yn);
				canvas.lineWidth = sqsz;
				canvas.stroke();
				canvas.closePath();

				x=xn;
				y=yn;
			}
			
			c.removeEventListener("mousemove");
		});
	});
	requestAnimationFrame(updateCanvasColor);

	/*submit.addEventListener("click", function (e) {
		var img = c.toDataURL("image/jpg");
		var b64img = btoa(img);
		$.ajax({
			url: <%= create_doodle_path %>,
			type: "PUT",
			contentType: "image/jpg;base64",
			data: b64img,
		});
	});*/

</script>